/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #0000ff;
  margin: 40px 0px 70px;
  text-align: center;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

body {
  margin:250px 250px; 
  text-align:center;
}

    /* stock list header row */
.listHeader {
  background-color: #2062B8;
  color: white;
  font-style: italic;
}

.mainList {
  border: 1px solid silver;
  background: #44ff99;
  padding: 2px;
  margin-bottom:6px;
  margin: 0 auto;
  width: 400px;
}

.listNumericColumn {
  text-align: center;
  width:14em;
}

.listRemoveColumn {
  text-align: center;
}

.addPanel {
  margin: 0 auto;
}

.infoText {
	margin: 0 auto;
	color: #fff;
}